<div>
  <span> Share </span>
  <a id="twitter-ic" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.trivium.social.twitter }}&related={{ site.trivium.social.twitter }}" rel="nofollow" target="_blank">
      <i class="fa fa-twitter fa-lg footer-social"></i>
  </a>
  <a id="fb-ic" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank">
      <i class="fa fa-facebook-square fa-lg footer-social"></i>
  </a>
  <a id="gplus-ic" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank">
      <i class="fa fa-google-plus-square fa-lg footer-social"></i>
  </a>
  <a id="rss-ic" href="{{ site.url }}/blog/feed" target="_blank">
    <i class="fa fa-rss-square fa-lg footer-social"></i>
  </a>
</div>
